fastapi
uvicorn[standard]
langchain
langchain-community
langchain-ollama
langchain-chroma
chromadb
pydantic[email]
pydantic-settings
sqlalchemy
pymysql
passlib[bcrypt]
argon2-cffi
python-jose[cryptography]
requests
python-dotenv
email-validator
torch
transformers
scipy
python-multipart
pdfplumber
python-docx
pandas
openpyxl